{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
<a href='/'><button>OMS</button></a>
<a href='/login/'><button class="icon"><i class="bi-person"></i></button></a>
<a href='/order_search/'><button class="icon"><i class="bi-search"></i></button></a>
<a href='/archive/'><button class="icon"><i class="bi-archive"></i></button></a>
<a href='/stats/'><button class="icon"><i class="bi-pie-chart"></i></button></a>
{#<a href='/info/'><button class="icon"><i class="bi-info-circle"></i></button></a>#}

<form class="hidden" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <select name="language" style="display:none">
        {% get_current_language as LANGUAGE_CODE %}

        {% if LANGUAGE_CODE == "en" %}
        <option value="pl" selected>PL</option>
        {%  else %}
        <option value="en" selected>EN</option>
        {% endif %}

    </select>
<button class="icon" type="submit"><i class="bi-fonts"></i></button></a>
</form>

<button type="button" class="icon" value="Previous Page" onClick="javascript:history.go(-1);"><i class="bi-arrow-return-left"></i></button>

{% block content %}

{% endblock %}

</body>
</html>