{% extends 'base.html' %}
{% block content %}
{% load i18n %}

    <h2>{%  trans "Project description" %}</h2>
    <mark>{%  trans "Web application for managing orders" %}</mark></br>
    </br>
    Wykonałem ją dla dotychczasowego pracodawcy.</br>
    Zastępuje ręczne uzupełnianie arkuszy oraz drukowanie zleceń.</br>
    Opracowany system usprawnia komunikację pomiędzy działem handlowym, graficznym i produkcyjnym.</br>
    Rozwiązuje problem błędów komunikacyjnych dzięki weryfikacji danych.</br>
    </br>
    Podstawą programu jest tworzenie zamówień i monitorowanie ich statusu realizacji.</br>
    Każdy z pracowników ma własne konto, a poprzez filtrowanie system wyświetla użytkownikowi tylko niezbędne dane.</br>
    Automatyzacja procesów zachodząca w aplikacji znacznie redukuje ilość czynności potrzebnych do zrealizowania zamówienia.</br>

{% endblock %}