{% extends 'base.html' %}
{% block content %}

<h2 style="text-transform: capitalize">
{% if user.username %}
    {{ user.username }}
{% else %}
    Menu
{% endif %}
</h2>

{% if user.username %}
    <a href='{% url "logout" %}'><button type="button">Logout</button></a>
{% else %}
    <a href='{% url "login" %}'><button type="button">Login</button></a>
{% endif %}

<a href='/user_list/'><button type="button">Users</button></a>
<button type="button" value="Previous Page" onClick="javascript:history.go(-1);">Back</button>

</br></br>

    <h3>Opis projektu</h3>
    <mark>Aplikacja webowa do zarządzania zamówieniami</mark></br>
    </br>
    Wykonałem ją dla dotychczasowego pracodawcy.</br>
    Zastępuje ręczne uzupełnianie arkuszy oraz drukowanie zleceń.</br>
    Opracowany system usprawnia komunikację pomiędzy działem handlowym, graficznym i produkcyjnym.</br>
    Rozwiązuje problem błędów komunikacyjnych dzięki weryfikacji danych.</br>
    </br>
    Podstawą programu jest tworzenie zamówień i monitorowanie ich statusu realizacji.</br>
    Każdy z pracowników ma własne konto, a poprzez filtrowanie system wyświetla użytkownikowi tylko niezbędne dane.</br>
    Automatyzacja procesów zachodząca w aplikacji znacznie redukuje ilość czynności potrzebnych do zrealizowania zamówienia.</br>

{% endblock %}