{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<h2></h2>

<table class="table">

  <thead>
    <tr>
      <th scope="col">{%  trans "date" %}</th>
      <th scope="col">{%  trans "seller" %}</th>
      <th scope="col">{%  trans "customer" %}</th>
      <th scope="col">{%  trans "designer" %}</th>
      <th scope="col">Status</th>

      <th scope="col">
        {% if perms.orders.add_order %}
            <a href='/order_add/'><button class="icon"><i class="bi-plus"></i></button></a>
        {% endif %}
            <a href='/order_search/'><button class="icon"><i class="bi-search"></i></button></a>

      </th>
    </tr>
  </thead>

  <tbody>
    {% for order in orders %}
    <tr>
      <td data-label="date<">{{ order.date }}</td>
      <td data-label="seller">{{ order.seller }}</td>
      <td data-label="customer">{{ order.customer }}</td>
      <td data-label="designer">{{ order.designer }}</td>
      <td data-label="status">{{ order.status }}</td>
      <td>
          <a href='/order_edit/{{ order.pk }}'><button class="icon"><i class="bi-pencil"></i></button></a>
          <a href='/order_details/{{ order.pk}}'><button class="icon"><i class="bi-list"></i></button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>
</br>

{% endblock %}