{% extends 'base.html' %}

{% block content %}

<table class="table">
  <caption>Order Details</caption>

  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Seller</th>
      <th scope="col">Customer</th>
      <th scope="col">Designer</th>
      <th scope="col">Status</th>
      <td><a href='/order_delete/{{ order.pk }}'><button>Delete</button></a></td>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td data-label="Date<">{{ order.date }}</td>
      <td data-label="Seller">{{ order.seller }}</td>
      <td data-label="Customer">{{ order.customer }}</td>
      <td data-label="Designer">{{ order.designer }}</td>
      <td data-label="Status">{{ order.status }}</td>
      <td><a href='/order_edit/{{ order.pk }}'><button>Edit</button></a></td>
    </tr>

  </tbody>
</table>



{% endblock %}