{% extends 'base.html' %}
{% block content %}

<h2>Order Management System</h2>

<table class="table">

  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Seller</th>
      <th scope="col">Customer</th>
      <th scope="col">Designer</th>
      <th scope="col">Status</th>
      <th scope="col">
        {% if perms.orders.add_order %}
            <a href='/order_add/'><button>Add</button></a>
        {% endif %}
            <a href='/menu/'><button>Menu</button></a>
      </th>
    </tr>
  </thead>

  <tbody>
    {% for order in orders %}
    <tr>
      <td data-label="date<">{{ order.date }}</td>
      <td data-label="seller">{{ order.seller }}</td>
      <td data-label="customer">{{ order.customer }}</td>
      <td data-label="designer">{{ order.designer }}</td>
      <td data-label="status">{{ order.status }}</td>
      <td>
          <a href='/order_edit/{{ order.pk }}'><button>Edit</button></a>
          <a href='/order_details/{{ order.pk}}'><button>Details</button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}