{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<h2>{%  trans "Order details" %}</h2>

{{ order.customer }}

</br></br>

{% if perms.orders.add_item %}
<a href='/item_add/{{ order.pk }}/'><button class="icon"><i class="bi-plus"></i></button></a>
{% endif %}
<a href='/comment_add/{{ order.pk }}/'><button class="icon"><i class="bi-chat"></i></button></a>


</br></br>

{% for comment in comments %}
    {% if comment != None %}
        <a href='/comment_edit/{{ comment.pk }}'>{{ comment.date|date:'H:i' }}: {{ comment.message }}</a></br></br>
    {%  endif %}
{% endfor %}

{% for item in items %}
<div class="item">
<table class="table">

    <thead>
    <tr>
        <th data-label="name" colspan="2">{{ item.name }}</th>
    </tr>
    </thead>

    <tr>
        <td>{%  trans "Material" %}:</td>
        <td data-label="material">{{ item.material }}</td>
    </tr>

     <tr>
        <td>{%  trans "Thickness" %}:</td>
        <td data-label="thickness">{{ item.thickness }} mm</td>
    </tr>

    <tr>
        <td>{%  trans "Color" %}:</td>
        <td data-label="color">{{ item.color }}</td>
    </tr>

    {% if item.dimensions != None %}
    <tr>
        <td>{%  trans "Dimensions" %}:</td>
        <td data-label="dimensions">{{ item.dimensions }}</td>
    </tr>
    {%  endif %}

    <tr>
        <td>{%  trans "Width" %}:</td>
        <td data-label="width">{{ item.width }} mm</td>
    </tr>

    <tr>
        <td>{%  trans "Height" %}:</td>
        <td data-label="height">{{ item.height }} mm</td>
    </tr>

    {% if item.depth != None %}
    <tr>
        <td>{%  trans "Depth" %}:</td>
        <td data-label="depth">{{ item.depth }} mm</td>
    </tr>
    {%  endif %}

    <tr>
        <td>{%  trans "Fastening" %}:</td>
        <td data-label="fastening">{{ item.fastening }}</td>
    </tr>

    {% if item.hole != None %}
    <tr>
        <td>{%  trans "Hole" %}:</td>
        <td data-label="hole">{{ item.hole}} mm</td>
    </tr>
    {%  endif %}

    {% if item.rounding != None %}
    <tr>
        <td>{%  trans "Rounding" %}:</td>
        <td data-label="rounding">{{ item.rounding}}</td>
    </tr>
    {%  endif %}

    {% if item.mark != None %}
    <tr>
        <td>{%  trans "Mark" %}:</td>
        <td data-label="mark">{{ item.mark}}</td>
    </tr>
    {%  endif %}

    <tr>
        <td>{%  trans "Quantity" %}:</td>
        <td data-label="quantity">{{ item.quantity }}</td>
    </tr>

    {% if item.description %}
    <tr><td data-label="description" colspan="2" class="description">{{ item.description }}</td></tr>
    {%  endif %}

    <tr><th colspan="2">
        {% for actions in item.actions.all %}
            {{ actions.name }}
        {% endfor %}
    </th></tr>

    {% if perms.orders.change_item %}
    <tr>
        <td colspan="2"><a href='/item_edit/{{ item.pk }}'><button class="icon"><i class="bi-pencil"></i></button></a></td>
    </tr>
    {% endif %}


</table></br>
</div>
{% endfor %}

{% endblock %}