{% extends 'base.html' %}
{% block content %}

<h2>Users</h2>

{% if perms.users.add_user %}
<a href='/user_add/'><button type="button">Add</button></a>
{% endif %}

<button type="button" value="Previous Page" onClick="javascript:history.go(-1);">Back</button>
<h2></h2>

<div class="item">
<table class="table">

    <thead>
    <tr>
        <th>Name</th>
        <th>Group</th>
    </tr>
    </thead>

    {% for user in users %}
        <tr>
            <td data-label="name">{{ user.username }}</td>
            <td data-label="group">{{ user.groups.all.0 }}</td>
        </tr>
    {% endfor %}

</table></br>
</div>

{% endblock %}
