{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<h2>{%  trans "Users" %}</h2>

{% if perms.users.add_user %}
<a href='/user_add/'><button type="button" class="icon"><i class="bi-person-plus"></i></button></a>
{% endif %}

<h2></h2>

<div class="item">
<table class="table">

    <thead>
    <tr>
        <th>Name</th>
        <th>Group</th>
    </tr>
    </thead>

    {% for user in users %}
        <tr>
            <td data-label="name"><a href='/user_edit/{{ user.pk }}'>{{ user.username }}</a></td>
            <td data-label="group">{{ user.groups.all.0 }}</td>
        </tr>
    {% endfor %}

</table></br>
</div>

{% endblock %}
